
## Summer Cleaning

In [2]:
import pandas as pd
import numpy as np

In [3]:
# CSV location 
summer = 'SummerOlympicMedals.csv'

In [4]:
#Selecting columns, Renaming 
df_summer = pd.read_csv(summer, encoding="ISO-8859-1")
df_summer.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [ ]:
#Reading CSV, Selecting columns, Renaming 
df_summer = df_summer[["Edition", "Sport", "Discipline", "Athete", "NOC", ""]]