
## Summer Cleaning

In [2]:
import pandas as pd
import numpy as np

In [3]:
# CSV location 
summer = 'SummerOlympicMedals.csv'

In [4]:
#Selecting columns, Renaming 
df_summer = pd.read_csv(summer, encoding="ISO-8859-1")
df_summer.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [6]:
# To see the name of the columns
df_summer.count()

City            29216
Edition         29216
Sport           29216
Discipline      29216
Athlete         29216
NOC             29216
Gender          29216
Event           29216
Event_gender    29216
Medal           29216
dtype: int64

In [11]:
#Reading CSV, Selecting columns, Renaming 
df_summer = df_summer[["Edition", "Sport", "Discipline", "Athlete", "NOC", "Gender", "Event", "Medal"]]

,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Medal
0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
2,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
3,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
4,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver
...,...,...,...,...,...,...,...,...
29211,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,Silver
29212,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,Bronze
29213,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,Bronze
29214,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,Gold
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

In [13]:
df_summer=df_summer.rename(columns={"Edition":"year", "Athlete": "athlete","NOC":"country_code","Gender":"gender", "Event":"event", "Medal":"medal"})
df_summer

,year,Sport,Discipline,athlete,country_code,gender,event,medal
0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
2,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
3,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
4,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver
...,...,...,...,...,...,...,...,...
29211,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,Silver
29212,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,Bronze
29213,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,Bronze
29214,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,Gold
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

In [14]:
df_summer.dtypes

year             int64
Sport           object
Discipline      object
athlete         object
country_code    object
gender          object
event           object
medal           object
dtype: object

In [15]:
df_summer= df_summer.loc[df_summer["year"] >= 1944,:]
df_summer

,year,Sport,Discipline,athlete,country_code,gender,event,medal
7204,1948,Aquatics,Diving,"CAPILLA PEREZ, Joaquin",MEX,Men,10m platform,Bronze
7205,1948,Aquatics,Diving,"LEE, Samuel",USA,Men,10m platform,Gold
7206,1948,Aquatics,Diving,"HARLAN, Bruce Ira",USA,Men,10m platform,Silver
7207,1948,Aquatics,Diving,"CHRISTOFFERSEN-HANSON, Birte",DEN,Women,10m platform,Bronze
7208,1948,Aquatics,Diving,"DRAVES, Victoria Manalo",USA,Women,10m platform,Gold
...,...,...,...,...,...,...,...,...
29211,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,Silver
29212,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,Bronze
29213,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,Bronze
29214,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,Gold
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

In [16]:
df_summer["year"].unique()

array([1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1996, 2000, 2004, 2008])

In [29]:
df_summer_sorted = df_summer.sort_values("year")
df_summer_sorted

,year,Sport,Discipline,athlete,country_code,gender,event,medal
7204,1948,Aquatics,Diving,"CAPILLA PEREZ, Joaquin",MEX,Men,10m platform,Bronze
7741,1948,Gymnastics,Artistic G.,"LUCY, Robert",SUI,Men,team competition,Silver
7742,1948,Gymnastics,Artistic G.,"REUSCH, Michael",SUI,Men,team competition,Silver
7743,1948,Gymnastics,Artistic G.,"STALDER, Josef",SUI,Men,team competition,Silver
7744,1948,Gymnastics,Artistic G.,"STUDER, Emil",SUI,Men,team competition,Silver
...,...,...,...,...,...,...,...,...
27848,2008,Basketball,Basketball,"LOPEZ, Raul",ESP,Men,basketball,Silver
27847,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,Silver
27846,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,Silver
27859,2008,Basketball,Basketball,"LISINA, Ekaterina",RUS,Women,basketball,Bronze
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

### Group by Year and Gender

In [30]:
summer_1948 = df_summer_sorted.loc[df_summer_sorted["year"] == 1948,:]
summer_1948

,year,Sport,Discipline,athlete,country_code,gender,event,medal
7204,1948,Aquatics,Diving,"CAPILLA PEREZ, Joaquin",MEX,Men,10m platform,Bronze
7741,1948,Gymnastics,Artistic G.,"LUCY, Robert",SUI,Men,team competition,Silver
7742,1948,Gymnastics,Artistic G.,"REUSCH, Michael",SUI,Men,team competition,Silver
7743,1948,Gymnastics,Artistic G.,"STALDER, Josef",SUI,Men,team competition,Silver
7744,1948,Gymnastics,Artistic G.,"STUDER, Emil",SUI,Men,team competition,Silver
...,...,...,...,...,...,...,...,...
7479,1948,Boxing,Boxing,"FONTANA, Ivano",ITA,Men,67 - 73kg (middleweight),Bronze
7474,1948,Boxing,Boxing,"DREYER, Gerald",RSA,Men,58 - 62kg (lightweight),Gold
7480,1948,Boxing,Boxing,"PAPP, Laszlo",HUN,Men,67 - 73kg (middleweight),Gold
7481,1948,Boxing,Boxing,"WRIGHT, John A.",GBR,Men,67 - 73kg (middleweight),Silver
7461,1948,Boxing,Boxing,"HAN, Soo-An",KOR,Men,- 51kg (flyweight),Bronze

In [32]:
df= df_summer_sorted.loc[df_summer_sorted["year"] == 1948,:]
df

,year,Sport,Discipline,athlete,country_code,gender,event,medal
7204,1948,Aquatics,Diving,"CAPILLA PEREZ, Joaquin",MEX,Men,10m platform,Bronze
7741,1948,Gymnastics,Artistic G.,"LUCY, Robert",SUI,Men,team competition,Silver
7742,1948,Gymnastics,Artistic G.,"REUSCH, Michael",SUI,Men,team competition,Silver
7743,1948,Gymnastics,Artistic G.,"STALDER, Josef",SUI,Men,team competition,Silver
7744,1948,Gymnastics,Artistic G.,"STUDER, Emil",SUI,Men,team competition,Silver
...,...,...,...,...,...,...,...,...
7479,1948,Boxing,Boxing,"FONTANA, Ivano",ITA,Men,67 - 73kg (middleweight),Bronze
7474,1948,Boxing,Boxing,"DREYER, Gerald",RSA,Men,58 - 62kg (lightweight),Gold
7480,1948,Boxing,Boxing,"PAPP, Laszlo",HUN,Men,67 - 73kg (middleweight),Gold
7481,1948,Boxing,Boxing,"WRIGHT, John A.",GBR,Men,67 - 73kg (middleweight),Silver
7461,1948,Boxing,Boxing,"HAN, Soo-An",KOR,Men,- 51kg (flyweight),Bronze

In [33]:
df_summer_sorted["athlete"].value_counts()

LATYNINA, Larisa      18
PHELPS, Michael       16
ANDRIANOV, Nikolay    15
SHAKHLIN, Boris       13
ONO, Takashi          13
                      ..
BALOGH, Gabor          1
WIECHA, Wanda          1
JACKSON, Colin         1
LOMMI, Oiva            1
SINGH, Tarsem          1
Name: athlete, Length: 15980, dtype: int64